/*
display: inline-block;
shorthand property demek kisa yazilmis hali

#main-container {
  width: 400px;
  height: 200px;
  border: 3px dashed;
  padding: 2px;
  border-radius: 50%;
 
}

#product-container {
  border: 3px dashed deeppink;
  margin-top: 10px;
  border-style: dashed solid groove dotted;
  border-color: deeppink pink blue navy;
}


.gen#sol_ust {
  width: 300px;
  height: 150px;
  background-color: red;
  background-position: unset;

  position: absolute;
  left: 0px;
  top: 0px;
}
.gen#sag_alt {
  width: 300px;
  height: 150px;
  background-color: blue;

  position: absolute;
  right: 0px;
  bottom: 0px;
}

.circle#sag_ust {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgb(245, 0, 245);
}

.circle#sol_alt {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  bottom: 0mm;
  background-color: black;
  border-width: t;
}
*/

.gen#sol_ust {
    width: 300px;
    height: 150px;
    background-color: red;
    background-position: unset;
    border-width: 
    
    align
  
    position: absolute;
   
}